[Desktop Entry]
Name=Obsidian Level Maker
Comment=Generate random levels for classic FPS games (DOOM etc)
Exec=/usr/share/obsidian/obsidian
Icon=obsidian
Terminal=false
Type=Application
Categories=Game;ActionGame;
StartupNotify=false
