----------------------------------------------------------------
--  TEMPLATE for adding NEW MONSTERS
----------------------------------------------------------------
--
--  TODO: describe stuff
--
----------------------------------------------------------------

CUSTOM = { }

CUSTOM.MONSTERS =
{
  monster1 =
  {
    id = 1234
    r = 16
    h = 56 
    prob = 1
    skip_prob = 200
    health = 100
    damage = 4
    attack = "melee"
    never_promote = true
    density = 0.2
  }
}


OB_MODULES["CUSTOM"] =
{
  label = "CUSTOM"

  for_games   = { doom2=1 }
  for_engines = { zdoom=1 }

  tables =
  {
    CUSTOM
  }
}

