Obsidian
obsidian
Obsidian.exe
obsidian.exe

#Logs/configs (Windows version)
CONFIG.txt
OPTIONS.txt
THEME.txt
LOGS*.txt
LOGS*.zip
REFERENCE.txt

*.o
.f
.DS_Store
tmp.wad

# VS Code
build/
.cache/
.vscode/

# VS
.vs/

# CLion
.idea/
cmake-build-*

# Pure CMake (appeared from COMPILING.md)
build/

# User dirs
addons/*.pk3

# Quake files (not redistributable)
quake_tex.wd2
pak0.pak
pak1.pak

tools/filename_formatter
tools/filename_formatter.exe
tools/qsavetex
tools/qsavetex.exe
tools/qsavetex_log.txt

web/out
web/shots

_work
*~
install/

# FLTK stuff
!source_files
!source_files/fltk
!source_files/fltk/libdecor/*
