Obsidian
obsidian
Obsidian.exe
obsidian.exe

#Logs/configs (Windows version)
CONFIG.txt
OPTIONS.txt
THEME.txt
LOGS*.txt
LOGS*.zip

*.o
.f
.DS_Store
tmp.wad

# VS Code
build*/
.cache/
.vscode/

# VS
.vs/

# CLion
.idea/
cmake-build-*

# User dirs
addons/*.pk3

# Quake texture files (not redistributable)
games/quake/data/quake_tex.wd2

tools/filename_formatter
tools/filename_formatter.exe
tools/qsavetex
tools/qsavetex.exe

web/out
web/shots

_work
*~
