Obsidian
obsidian
Obsidian.exe
obsidian.exe

*.o
.f
.DS_Store

# VS Code
build/
.cache/
.vscode/

# VS
.vs/

# CLion
.idea/
cmake-build-*

# User dirs
addons/*.pk3

tools/filename_formatter
tools/filename_formatter.exe

web/out
web/shots

_work
