/*** this CSS is based on pmwiki.css ***/

/* This sets the overall frame for the site */
body {
    background-color: black;
    color: white;
    padding: 6px;
    padding-left: 50px;
    padding-right: 50px;
/*  font-size: larger;  */
    font-family: sans-serif;
}

/* These control the fixed-width text elements of the page */
textarea, pre, code { font-size:0.9em; }
pre, code { font-family:'Lucida Console','Andale Mono','Courier New',Courier,monospace; }
pre { line-height:1.2em; }
pre code, code code, pre pre { font-size:100%; }

/* These primarily adjust the size and spacing of heading elements,
 * most browsers have atrocious defaults for these.
 */
h1 {
    color: red; /* #e44; */
    font-size: 1.60em;
    font-weight: bolder;
    margin-top: 1.0em;
    margin-bottom: 0.7em;
}
h2 {
    color: #c44;
    font-size: 1.30em;
    font-weight: bold;
    margin-top: 1.0em;
    margin-bottom: 0.6em;
}
h3 {
    color: #c44;
    font-size: 1.20em;
    font-weight: bold;
    margin-top: 1.0em;
    margin-bottom: 0.6em;
}
h4 {
    color: #c44;
    font-size: 1.10em;
    font-weight: bold;
    margin-top: 1.0em;
    margin-bottom: 0.6em;
}

/* The #wikilogo element is the logo from $PageLogoFmt */
#wikilogo { margin-top:4px; padding:6px; border-bottom:1px #cccccc solid; }

/* These are for the left-sidebar. */
#wikileft {
  width: 12em;
  padding: 0.8em;
  border-right: 3px #ccbbaa solid;
  line-height: 1.33em;
  font-size: 85%;
  font-family: Verdana,sans-serif;
  background-color:  white;
  color: black;
}
#wikileft .vspace { margin-top:1.125em; }
#wikileft strong { color: #c44; }
#wikileft ul { list-style:none; padding:0px; margin:0px; }
#wikileft li { margin:0px; padding-left: 0px; }

#wikileft a { text-decoration:none; color:black; }
#wikileft a:hover { text-decoration:underline; color:blue; }

#wikileft a.createlinktext, #wikileft a.createlink {
  border-bottom: 0px;
  color: #ccc;
}

.sidehead {
  margin: 0px;
  padding: 4px 2px 2px 2px;
  /* font-size: 11pt; */
  font-weight: bold;
  font-style: normal;
}
.sidehead a {
  color: #505050;
  font-weight: bold;
  font-style: normal;
}

/* These affect the main content area. */
#wikibody {
  padding: 1em;
  padding-top: 1em;
  margin-left: 10px;
  background-color: white;
  color: black;
}

.pagegroup {
    margin-top: 8px;
    margin-bottom: 2px;
    margin-left: 0.5em;
}

.xxx_pagetitle {
    line-height: 1em;
    margin: 0px;
    margin-top: 0.3em;
    margin-bottom: 0.8em;
    font-size: 1.6em;
    font-weight: normal;
}

.wikiaction { margin-top:4px; margin-bottom:4px; }

.wikimessage { margin-top:4px; margin-bottom:4px; font-style:italic; }

.wikisearch { }

#wikitext {
    margin-left: 0px;
    margin-top: 12px;
    line-height: 1.33em;
}

#xxx_wikitext table { font-size:100%; line-height:1.33em; } /* For MSIE 5.5 */

#cheatsheet {
    font-size: 85%;
    background-color: #fcfcec;
    border: 1px #7e7e6e solid;
    padding: 0.3em;
    line-height: 1.33em;
}

.cheatsheet ul { list-style:none; }

.cheatbold { color: #742; font-weight: bold; }

/* definition lists */
#wikitext dt { color: #742; font-weight: bold; }

/* These are for the edit form. */
#wikiedit form { margin:0px; width:100%; }
#wikiedit textarea { width:100%; }

/* These affect the printed appearance of the web view of pages
 * (not the separate print view).  The sidebar and action links
 * are omitted here.
 */
@media print {
  body { width:auto; margin:0px; padding:0.5em; }

  #wikileft { display:none; }
  .oblige_title { display:none; }
  .menu, .submenu { display:none; }
}

/* ---- stuff from Oblige website CSS ---- */

.floatL { float: left  !important; }
.floatR { float: right !important; }

.oblige_title {
    color: #dd8;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.2em;
}

.menu {
    background-color: #744a20;
    color: #ddd;
    min-height: 28px;
    line-height: 2.0em;
    font-size: large;
}

.menu span { padding-left: 1em; padding-right: 1em; }
.menu a    { padding-left: 1em; padding-right: 1em; }

.menu a:link    { text-decoration: none; color: #ddd }
.menu a:visited { text-decoration: none; color: #ddd }
.menu a:hover   { text-decoration: none; color: white }

.submenu {
    background-color: #ccbbaa;
    color: #420;
    text-align: right;
    padding-right: 1.5em;
    line-height: 2.0em;
    font-size: 85%;
    font-weight: bold;
}

.submenu a { text-decoration:none; color:#420; border:none; }
.submenu a:hover { text-decoration:underline; color:#a60; }
.submenu a.createlink { display:none; }

.pagemod {
    margin-top: 2.5em;
    font-size: 65%;
}

.bottomcurve {
    background-color: white;
    height: 24px;
    font-size: small;
}

