<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" $HTMLTagAttr>
<head>
  <title>$WikiTitle | {$Title} $ActionTitle</title>
  <meta http-equiv='Content-Style-Type' content='text/css' />
  <link rel='stylesheet' href='$SkinDirUrl/oblige.css' type='text/css' />
  <link rel="shortcut icon" href="http://oblige.sourceforge.net/favicon.ico" type="image/vnd.microsoft.icon">

  <!--HTMLHeader-->
</head>
<body>
  <h1 class="oblige_title"> OBLIGE Modding Wiki </h1>

  <div class="menu">
    <img src="$SkinDirUrl/top_L.png" class="floatL" alt="" width="24" height="24">
    <img src="$SkinDirUrl/top_R.png" class="floatR" alt="" width="24" height="24">
    <a href="http://oblige.sourceforge.net/">Home</a>
    <a href="http://oblige.sourceforge.net/doc_usage.html">Documentation</a>
    <span> MODDING </span>
  </div>

  <div class='submenu'>
    <!--PageActionFmt-->
    <a rel="nofollow" href='{$PageUrl}?action=edit'>$[Edit]</a> -
    <a rel="nofollow" href='{$PageUrl}?action=diff'>$[History]</a> -
    <a rel="nofollow" href='{$PageUrl}?action=print' target='_blank'>$[Print]</a> -
    <a href='{$ScriptUrl}/$[{$Group}/RecentChanges]'>$[Recent Changes]</a> -
    <a href='{$ScriptUrl}/$[{$SiteGroup}/Search]'>$[Search]</a>
    <!--/PageActionFmt-->
  </div>

  <table id='wikimid' width='100%' cellspacing='0' cellpadding='0'>
    <tr>
      <!--PageLeftFmt-->
      <td id='wikileft' valign='top'>
        <!--wiki:{$Group}.SideBar {$SiteGroup}.SideBar-->
      </td>
      <!--/PageLeftFmt-->

      <td id='wikibody' valign='top'>
        <div id='wikititle'>
          <h1 class='pagetitle'>{$Title}</h1>
        </div>

        <!--PageText-->

        <div class='pagemod'>Page last modified on {$LastModified}</div>
      </td>
    </tr>
  </table>

  <div class="bottomcurve">
  <img src="$SkinDirUrl/bottom_L.png" class="floatL" alt="" width="24" height="24">
  <img src="$SkinDirUrl/bottom_R.png" class="floatR" alt="" width="24" height="24">
  </div>
  <br>

  <div class="floatR">
    <a HREF="http://sourceforge.net/projects/oblige">
      <img src="http://sourceforge.net/sflogo.php?group_id=176314&amp;type=3"
       width="125" height="37" alt="SourceForge.net"
       align="MIDDLE" border="0" hspace="1">
    </a>
  </div>

  <br>&nbsp;

  <!--HTMLFooter-->
</body>
</html>
